In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

In [ ]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

In [ ]:
# What is the result of using a right join on the DataFrames?
pd.merge(users,roles, how='right', left_on='role_id', right_on = 'id')

> we see the variables that do not carry over

In [ ]:
# What is the result of using an outer join on the DataFrames?
pd.merge(users,roles, how='outer', left_on='role_id', right_on = 'id')

> we see all the values reguardless of the association of the previously table

In [ ]:
# What happens if you drop the foreign keys from the DataFrames and try to merge them?
users.drop(columns='role_id')
pd.merge(users,roles, how='outer', left_on='role_id', right_on = 'id')

In [ ]:
# Load the mpg dataset from PyDataset.
from pydataset import data
mpg = data('mpg')
mpg

In [ ]:
# Output and read the documentation for the mpg dataset.
data('mpg', show_doc=True)

In [ ]:
# How many rows and columns are in the dataset?
mpg.shape

In [ ]:
# Check out your column names and perform any cleanup you may want on them.x
mpg.head()

In [ ]:
# Display the summary statistics for the dataset.
mpg.describe()

In [ ]:
# How many different manufacturers are there?
counter = 0
unique_man = mpg.manufacturer.unique()
for unique_man in mpg:
    counter += 1 
print(counter)

In [146]:
# How many different models are there?
mpg.model

14

In [96]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

In [97]:
# Create a column named mileage_difference like you did in the DataFrames exercises; 
# this column should contain the difference between highway and city mileage for each car.


high_way = mpg['hwy']
city = mpg['cty']
mpg['mileage_difference'] = high_way - city
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

In [145]:
import math 
# Create a column named average_mileage like you did in the DataFrames exercises; 
#this is the mean of the city and highway mileage.
hwy = mpg['hwy']
cty = mpg['cty']
#mpg['average_mileage'] = 
mpg['average_mileage'] =  pd.concat([hwy, cty], axis=1).agg(np.mean,1)

mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

In [134]:
# Create a new column on the mpg dataset named is_automatic
#that holds boolean values denoting whether the car has an 
#automatic transmission.

#mpg['is_automatic']
mask = mpg.trans.str.contains('auto')
mpg['is_automatic'] = mask
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

In [144]:
# Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [ ]:
# Do automatic or manual cars have better miles per gallon?